/*-------------------------------------------
共通
-------------------------------------------*/

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  color: #383e45;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

h2 {
  line-height: 1.5em;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.title-area .container {
  padding: 20px 16px;
}

.nav-area {
  background-color: #333;
  padding: 13px 16px;
}

.nav-area ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}

.nav-area li:not(:first-child) {
  padding-left: 60px;
}

/*-------------------------------------------
pickup
-------------------------------------------*/
.pickup-area {
  display: flex;
  justify-content: space-between;
  padding: 150px 10px 0 10px;
  margin-bottom: 30px;
}
.pickup-area .item {
  padding: 10px;
}
.pickup-area article {
  width: 32%;
}
.pickup-area h2 {
  margin: 10px 0 15px 0;
}

.pickup-area a {
  display: block;
  text-align: center;
}

.pickup-area a::after {
  content: "";
  display: block;
  width: 85px;
  height: 1px;
  background-color: #333;
  margin: 0 auto;
}

/*-------------------------------------------
main-area
-------------------------------------------*/
.main-area {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 100px;
}

/*-------------------------------------------
main
-------------------------------------------*/

main {
  width: 65%;
  padding: 10px;
}

main h2 {
  font-size: 1.5rem;
  padding: 10px 0 15px 0;
}

main p {
  padding: 20px;
}

.article-info {
  padding: 5px 0 10px 0;
}
main a {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

main a::after {
  content: "";
  display: block;
  width: 85px;
  height: 1px;
  background-color: #333;
  margin: 0 auto;
}

/*-------------------------------------------
aside
-------------------------------------------*/
aside {
  width: 35%;
  padding: 20px;
}
.Profile {
  text-align: center;
  margin-bottom: 50px;
}
.Profile img {
  border-radius: 50%;
  width: 130px;
}

.Profile h2 {
  font-size: 1.2rem;
  padding: 15px 0 20px 0;
}

.ranking h2 {
  font-size: 1.2rem;
  text-align: center;
  padding: 15px 0 20px 0;
}

.ranking p {
  padding: 10px 0 40px 0;
}

.archive h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0 15px 0;
}

.archive li {
  border-bottom: 1px solid;
  padding: 20px;
}

.archive li:first-child {
  border-top: 1px solid;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
  background-color: #f7f7f7;
  padding: 30px 10px 10px 10px;
}

footer .footer-area {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.footer-item {
  flex: 1;
  height: 370px;
}

.footer-item:not(:first-child) {
  padding-left: 60px;
}

.footer-item h2 {
  font-size: 1.2rem;
  padding: 15px 0 20px 0;
}

.footer-item p {
  padding: 10px 0 40px 0;
}

.arrows li {
  position: relative;
  padding-left: 12px;
  padding-bottom: 10px;
}

.arrows li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
}

.footer-menu li {
  border-bottom: 1px solid;
  padding: 15px;
}

.footer-menu li:first-child {
  border-top: 1px solid;
}

.footer-text {
  text-align: center;
  padding-top: 20px;
  font-size: 0.8rem;
}

/*-------------------------------------------
メディアクエリ
-------------------------------------------*/
/* 1024pxまでの幅に適応される */

@media screen and (max-width: 1024px) {
}

/* 768pxまでの幅に適応される */

@media screen and (max-width: 768px) {
  .pickup-area {
    flex-direction: column;
    /* justify-content: space-between;
    padding: 150px 10px 0 10px;
    margin-bottom: 30px; */
  }
  .pickup-area article {
    width: 100%;
  }

  .main-area {
    flex-direction: column;
  }

  main {
    width: 100%;
    /* padding: 10px; */
  }

  aside {
    width: 100%;
    /* padding: 20px; */
  }

  .footer-area {
    flex-direction: column;
  }

  .footer-item:not(:first-child) {
    padding-left: 0;
    width: 100%;
  }
}

/* 480pxまでの幅に適応される */

@media screen and (max-width: 480px) {
}
